/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*[class^="sprite"] {
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

body {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto'; }

a {
  text-decoration: none; }

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #cover .thumb {
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: column; }

.box-pen {
  position: relative;
  display: block;
  width: 70px;
  height: 94px;
  background-repeat: no-repeat;
  background-image: url("http://res.cloudinary.com/dwqwnm1r6/image/upload/v1499895504/logo_tbv6qt.png");
  background-size: 100%;
  overflow: hidden; }

.recipe {
  position: relative;
  width: 100%;
  height: 75%;
  left: -2%;
  background-image: linear-gradient(15deg, #ef725a 0, #f8aa80 75%);
  z-index: -1; }

.wave {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 35%;
  top: -80%;
  left: -2%;
  animation: wave 5s linear infinite;
  z-index: -2; }

@keyframes wave {
  100% {
    transform: rotate(360deg); } }

#panel {
  position: absolute;
  display: block;
  padding-bottom: 2vh;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

#profile {
  position: relative;
  display: block;
  width: 100%;
  height: 45vw;
  background-color: #6c5b7b;
  background-repeat: no-repeat;
  background-size: 100%; }
  #profile .thumb {
    position: absolute;
    bottom: 14vw;
    left: 5vw;
    width: 20vw;
    height: 20vw;
    background-color: #f8aa80;
    background-repeat: no-repeat;
    background-image: url("http://res.cloudinary.com/dwqwnm1r6/image/upload/v1499808665/house_uwlxiy.png");
    background-size: 80%;
    background-position: center;
    border-radius: 50%;
    transition: all .5s linear;
    transform: scale(0, 0);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    #profile .thumb:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #f8aa80;
      border-radius: 50%;
      z-index: 0; }
  #profile .box-part {
    position: absolute;
    width: 110%;
    height: 30vw;
    left: 0;
    bottom: -5vw;
    background-color: white;
    transition: all .3s;
    transition-timing: ease-in-out;
    transform-origin: 0% 0%; }
  #profile .thumb {
    animation: born .3s .2s forwards; }
    #profile .thumb:before {
      animation: upper .5s .5s forwards; }
  #profile .box-part {
    animation: turning .5s forwards; }
  #profile + .line-tools {
    animation: nav .5s .5s forwards; }
    #profile + .line-tools + .tools .tool-0 {
      animation: fadeIn 0.5s 0.6s forwards; }
    #profile + .line-tools + .tools .tool-1 {
      animation: fadeIn 0.5s calc( 1 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-2 {
      animation: fadeIn 0.5s calc( 2 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-3 {
      animation: fadeIn 0.5s calc( 3 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-4 {
      animation: fadeIn 0.5s calc( 4 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-5 {
      animation: fadeIn 0.5s calc( 5 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-6 {
      animation: fadeIn 0.5s calc( 6 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-7 {
      animation: fadeIn 0.5s calc( 7 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-8 {
      animation: fadeIn 0.5s calc( 8 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-9 {
      animation: fadeIn 0.5s calc( 9 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-10 {
      animation: fadeIn 0.5s calc( 10 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-11 {
      animation: fadeIn 0.5s calc( 11 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-12 {
      animation: fadeIn 0.5s calc( 12 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-13 {
      animation: fadeIn 0.5s calc( 13 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-14 {
      animation: fadeIn 0.5s calc( 14 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-15 {
      animation: fadeIn 0.5s calc( 15 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-16 {
      animation: fadeIn 0.5s calc( 16 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-17 {
      animation: fadeIn 0.5s calc( 17 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-18 {
      animation: fadeIn 0.5s calc( 18 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-19 {
      animation: fadeIn 0.5s calc( 19 * 0.15s + 0.6s) forwards; }
    #profile + .line-tools + .tools .tool-20 {
      animation: fadeIn 0.5s calc( 20 * 0.15s + 0.6s) forwards; }

svg circle,
svg path {
  fill: rgba(0, 0, 0, 0.2); }

.wifi {
  position: absolute;
  display: none;
  width: 10vw;
  top: 2.6vw; }
  .wifi-in {
    transform: rotate(90deg);
    left: -2.7vw; }
  .wifi-out {
    transform: rotate(270deg);
    left: -7.3vw; }

.tools {
  position: relative;
  margin-top: -5vw;
  font-family: 'Roboto'; }
  .tools .lbl {
    display: block; }
  .tools .item {
    width: 100%; }
    .tools .item.pulse .tool:after {
      background-color: #ffcb2b !important;
      animation: pulse 1s infinite; }
    .tools .item.pulse .tool:before {
      background-color: #ffcb2b !important;
      animation: upperPulse .6s forwards; }
    .tools .item.on .tool:after {
      background-color: #6fd9c9; }
    .tools .item.on .tool:before {
      background-color: #6fd9c9;
      animation: upperOn .6s forwards; }
    .tools .item.off .tool:after {
      background-color: #f67280; }
    .tools .item.off .tool:before {
      background-color: #f67280;
      animation: upperOff .6s forwards; }
  .tools .tool {
    position: relative;
    padding: 5vw 0 5vw 28vw;
    opacity: 0;
    transition: all .5s linear; }
    .tools .tool:after {
      content: "";
      position: absolute;
      left: 13.60vw;
      top: 6.4vw;
      display: block;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      transform: scale(1, 1); }
    .tools .tool:before {
      position: absolute;
      content: "";
      left: 12.7vw;
      top: 5.45vw;
      display: block;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      transform: scale(1, 1);
      opacity: 1;
      animation: upper .5s forwards; }
  .tools input[type=checkbox] {
    position: absolute;
    visibility: hidden; }
  .tools .name {
    color: #2F4F4F;
    font-size: 5vw;
    margin-bottom: 1.5vw; }
  .tools .time {
    color: #A9A9A9;
    font-size: 3vw; }

.line-tools {
  position: absolute;
  width: 1.2vw;
  background-color: rgba(0, 0, 0, 0.05);
  top: 25vw;
  left: 14.5vw;
  height: 0%;
  z-index: 0; }

@keyframes nav {
  from {
    height: 0vh; }
  to {
    min-height: 120vh;
    height: 100%; } }

@keyframes born {
  from {
    transform: scale(0, 0);
    opacity: 0; }
  to {
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes upper {
  from {
    transform: scale(1, 1);
    opacity: 1; }
  to {
    transform: scale(1.3, 1.3);
    opacity: 0; } }

@keyframes upperPulse {
  from {
    transform: scale(1, 1);
    opacity: 1; }
  to {
    transform: scale(1.3, 1.3);
    opacity: 0; } }

@keyframes upperOn {
  from {
    transform: scale(1, 1);
    opacity: 1; }
  to {
    transform: scale(1.3, 1.3);
    opacity: 0; } }

@keyframes upperOff {
  from {
    transform: scale(1, 1);
    opacity: 1; }
  to {
    transform: scale(1.3, 1.3);
    opacity: 0; } }

@keyframes pulse {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.3, 1.3); }
  100% {
    transform: scale(1, 1); } }

@keyframes turning {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(7deg); } }
