{% extends 'models/layout.twig' %}

{% block layout %}
  <div id="cover">
    <div class="thumb">
      <div class="box-pen">
        <div class="recipe">
          <div class="wave"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
