{% extends 'models/layout.twig' %}

{% block layout %}
  <div id="panel">
    <div id="profile">
      <div class="thumb"></div>

      <div class="box-part"></div>
    </div>

    <div class="line-tools"></div>

    <ul class="tools"></ul>
  </div>
{% endblock %}
